<div class="panel panel-primary">
  <div class="panel-heading"><div class="panel-title">
    <label>Proposition d'achat<label>
  </div></div>
  <form class="form-horizontal" ng-submit="submit()">
    <!-- Si un utilisateur a candidaté -->
    <span ng-if='user.pseudo !== undefined'>
      <!-- Pseudo -->
      <div class="form-group">
        <label class="control-label col-sm-3" for="nom">Pseudo :</label>
        <div class="col-sm-9"><p class="form-control-static">{{user.pseudo}}</p></div>
      </div>
      <!-- Prix demandé -->
      <div class="form-group">
        <label class="control-label col-sm-3" for="prixD">Prix demandé (€) :</label>
        <div class="col-sm-9"><p class="form-control-static">{{annonce.prixA}}</p></div>
      </div>
      <!-- Prix proposé -->
      <div class="form-group">
        <label class="control-label col-sm-3" for="prixP">Prix proposé (€) :</label>
        <div class="col-sm-9"><p class="form-control-static">{{annonce.prixCandidat}}</p></div>
      </div>
    </span>
    <!-- Si aucun candidat -->
    <div ng-if='user.pseudo === undefined' class="col-sm-9">
      Il n'y a pas de candidat pour cette annonce.
    </div>
    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-12">
        <!-- Bouton annuler -->
        <a ng-href="#!/detailAnnonce/{{annonce.idA}}">
          <button type="button" class="btn btn-danger">Annuler</button>
        </a>
        <!-- bouton valider -->
        <button type="submit" id="submit" class="btn btn-success">Accepter et cloturer</button>
      </div>
    </div>
  </form>
</div>
