<div class="panel panel-primary">
  <div class="panel-heading"><div class="panel-title">
    <label>Proposition d'achat<label>
  </div></div>
  <form class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
      <label class="control-label col-sm-3" for="nom">Nom :</label>
      <div class="col-sm-9"><p class="form-control-static">{{user.nom}}</p></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="prenom">Prénom :</label>
      <div class="col-sm-9"><p class="form-control-static">{{user.prenom}}</p></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="email">E-Mail :</label>
      <div class="col-sm-9"><p class="form-control-static">{{user.mail}}</p></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="prixD">Prix demandé :</label>
      <div class="col-sm-9"><p class="form-control-static">{{annonce.prixA}}</p></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="prixP">Prix proposé :</label>
      <div class="col-sm-9"><p class="form-control-static">{{annonce.prixCandidat}}</p></div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-12">
        <a ng-href="#!/detailAnnonce/{{annonce.idA}}">
          <button type="button" class="btn btn-danger">Annuler</button>
        </a>
        <button type="submit" id="submit" class="btn btn-success">Accepter et cloturer</button>
      </div>
    </div>
  </form>
</div>
