<div class="jumbotron">
  <h1>Le Souk !</h1>
  <p class="lead">
    <img src="images/aladin.gif" alt="Le Souk" height="50%" width="50%"><br>
    Bienvenue sur LeSouk - Le bazar des miagistes (du bled) !
  </p>
<!--  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div>
	<h2>Bonjour xxx</h2>
</div>

<div class="row marketing">
  <h4>Mes Annonces</h4>
  <p>
    <table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Nom</th>
            <th>Détail</th>
			<th>Info</th>
		</tr>
		<tr ng-repeat="annonceCrees in annoncesCrees">
			<td>{{annonceCrees.idA}}</td>
			<td>{{annonceCrees.dateCreaA}}</td>
			<td>{{annonceCrees.nomA}}</td>
			<td>
				<a ng-href="#!/detailAnnonce/{{annonceCrees.idA}}">
					<button type="button" class="btn btn-primary">Détail</button>
				</a>
			</td>
			<td></td>
		</tr>
	</table>
  </p>

  <h4>Mes Candidatures</h4>
  <p>
    <table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Nom</th>
			<th>Détail</th>
            <th></th>
		</tr>
		<tr ng-repeat="annonceCandidatees in annoncesCandidatees">
			<td>{{annonceCandidatees.idA}}</td>
			<td>{{annonceCandidatees.dateCreaA}}</td>
			<td>{{annonceCandidatees.nomA}}</td>
			<td>
				<a ng-href="#!/detailAnnonce/{{annonceCandidatees.idA}}">
					<button type="button" class="btn btn-primary">Détail</button>
				</a>
			</td>
			<td></td>
		</tr>
	</table>
  </p>
</div>
