<div ng-controller="MenuCtrl" class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right" data-ng-hide="user.isConnected()">
  </ul>
  <ul class="nav navbar-nav navbar-right" data-ng-show="user.isConnected()">
    <li><a href="#!/creerAnnonce"><span class="glyphicon glyphicon-plus" /> Créer une annonce</a></li>
    <li><a href="#!/pageDeGarde/{{user.getUser()}}"><span class="glyphicon glyphicon-check" />Ma page de garde</a></li>
    <li><a href="#!/rechercherAnnonce"><span class="glyphicon glyphicon-calendar" />Rechercher une annonce</a></li>
    <li><a href="#!/seDeconnecter"><span class="glyphicon glyphicon-log-in" /> Déconnexion</a></li>
  </ul>
</div>