<div>
	<h2>Bonjour {{user.prenom}} {{user.nom}}</h2>
</div>

<div class="row marketing">

  <div class="col-lg-9">
    <h4>Mes Annonces</h4>
  </div>

  <div class="col-lg-3">
	<a ng-href="#!/creerAnnonce/">
		<button type="button" class="btn btn-primary">Créer une annonce</button>
	</a>
  </div>
  
  <p>
    <table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Nom</th>
            <th>Détail</th>
			<th>Info</th>
		</tr>
		<tr ng-repeat="annonceCrees in annoncesCrees">
			<td>{{annonceCrees.idA}}</td>
			<td>{{annonceCrees.dateCreaA}}</td>
			<td>{{annonceCrees.nomA}}</td>
			<td>
				<a ng-href="#!/detailAnnonce/{{annonceCrees.idA}}">
					<button type="button" class="btn btn-primary">Détail</button>
				</a>
			</td>
			<td>
				<span ng-show="'{{annonceCrees.etatA}}' == 'Optionnée'" class="glyphicon glyphicon-bell" title="Optionnée" data-toggle="tooltip" data-placement="right"/>
				<span ng-show="'{{annonceCrees.etatA}}' == 'Cloturée'" class="glyphicon glyphicon-ok" title="Cloturée" data-toggle="tooltip" data-placement="right"/>
			</td>
		</tr>
	</table>
  </p>

  <div class="col-lg-9">
	<h4>Mes Candidatures</h4>
  </div>
  <p>
    <table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Nom</th>
			<th>Détail</th>
            <th>Info</th>
		</tr>
		<tr ng-repeat="annonceCandidatees in annoncesCandidatees">
			<td>{{annonceCandidatees.idA}}</td>
			<td>{{annonceCandidatees.dateCreaA}}</td>
			<td>{{annonceCandidatees.nomA}}</td>
			<td>
				<a ng-href="#!/detailAnnonce/{{annonceCandidatees.idA}}">
					<button type="button" class="btn btn-primary">Détail</button>
				</a>
			</td>
			<td>
				<span ng-show="'{{annonceCandidatees.etatA}}' == 'Cloturée'" class="glyphicon glyphicon-ok" title="Cloturée" data-toggle="tooltip" data-placement="right"/>
			</td>
		</tr>
	</table>
  </p>
</div>
