<div>
	<h2>Bonjour {{user.prenom}} {{user.nom}}</h2>
</div>

<div class="row marketing">
  
  <p>
    <div class="panel panel-primary">
        <table class="table table-striped table-condensed">
            <div class="panel-heading col-lg-12">
                <div class="col-lg-9">
					<h3 class="panel-title">Mes Annonces</h3>
				</div>
            </div>
            <thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Nom</th>
					<th>Détail</th>
					<th>Info</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="annonceCrees in annoncesCrees">
					<td>{{annonceCrees.idA}}</td>
					<td>{{annonceCrees.dateCreaA}}</td>
					<td>{{annonceCrees.nomA}}</td>
					<td>
						<a ng-href="#!/detailAnnonce/{{annonceCrees.idA}}">
							<button type="button" class="btn btn-primary">Détail</button>
						</a>
					</td>
					<td>
						<span ng-show="'{{annonceCrees.etatA}}' == 'Optionnée'" class="glyphicon glyphicon-bell" title="Optionnée" data-toggle="tooltip" data-placement="right"/>
						<span ng-show="'{{annonceCrees.etatA}}' == 'Cloturée'" class="glyphicon glyphicon-ok" title="Cloturée" data-toggle="tooltip" data-placement="right"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </p>

  <p>
    <div class="panel panel-primary">
        <table class="table table-striped table-condensed">
            <div class="panel-heading col-lg-12">
				<div class="col-lg-9">
					<h3 class="panel-title">Mes Candidatures</h3>
				</div>
            </div>
            <thead>
                <tr>
					<th>Id</th>
					<th>Date</th>
					<th>Nom</th>
					<th>Détail</th>
					<th>Info</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="annonceCandidatees in annoncesCandidatees">
					<td>{{annonceCandidatees.idA}}</td>
					<td>{{annonceCandidatees.dateCreaA}}</td>
					<td>{{annonceCandidatees.nomA}}</td>
					<td>
						<a ng-href="#!/detailAnnonce/{{annonceCandidatees.idA}}">
							<button type="button" class="btn btn-primary">Détail</button>
						</a>
					</td>
					<td>
						<span ng-show="'{{annonceCandidatees.etatA}}' == 'Cloturée'" class="glyphicon glyphicon-ok" title="Cloturée" data-toggle="tooltip" data-placement="right"/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </p>
</div>
