<div>
  <h1>Faire une proposition d'achat</h1><hr />
  <form class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="produit">Produit :</label>
      <div class="col-sm-10"><p class="form-control-static">{{annonce.nomA}}</p></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"for="prix">Prix :</label>
      <div class="col-sm-10"><p class="form-control-static">{{annonce.prixA}} €</p></div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="proposition">Proposition :</label>
      <div class="col-sm-2"><input type="text" class="form-control" id="proposition" ng-model="prixCandidat" /></div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a ng-href="#!/detailAnnonce/{{annonce.idA}}">
          <button class="btn btn-default">Annuler</button>
        </a>
        <button type=submit id="submit" class="btn btn-default">Valider</button>
      </div>
    </div>
  </form>
</div>
