<div>
  <h1>Résultats de la recherche : "{{search}}"</h1><hr />
  <p>
    <button type="button" class="btn btn-primary" ng-click="trier()">Trier par localisation</button>
  </p>
  <table class="table table-hover">
    <thead ng-if="annonces.length">
      <th>Date</th>
      <th>Nom</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr ng-repeat="annonce in annonces">
        <td>{{annonce.dateCreaA}}</td>
        <td>{{annonce.nomA}}</td>
        <td>{{annonce.descriptionA}}</td>
        <td>
          <a ng-href="#!/detailAnnonce/{{annonce.idA}}">
            <button type="button" class="btn btn-primary">Détail</button>
          </a>
        </td>
      </tr>
    </tbody>
	<thead ng-if="!annonces.length">
		<tr><th>Aucun résultat</th></tr>
	</thead>
  </table>
</div>
